body {
   margin:0;
   padding:5px;
   min-height:300px;
   width:400px;
   border-radius: 20px;
}

#container {
   position:relative;
}

#pageTitle{
    width: 100%;
    border: none;
    color: tomato;
    font-size: 1.5em;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-family: fantasy;
    margin-bottom: 20px !important;
}

.chimp_ext_text_input {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid transparent;
    border-radius:0px !important;
    margin-bottom: 20px !important;
    padding:12px !important;
    width:100%;
    font-family: sans-serif;
}

.chimp_ext_text_input:hover {
    background-color:rgba(77,144,254,0.15);
}

.chimp_ext_text_input:focus {
    outline: none !important;
    border-color: #9ecaed !important;
    box-shadow: 0 0 10px #9ecaed !important;
}

#page_note:focus {
    height:103px !important;
    transition:0.2s ease-in-out;
    background-color:transparent !important;
}

.tagit-label{
    line-height: 26px;
}

ul.tagit {
    width: inherit;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
}

ul.tagit input[type="text"] {
    padding: 5.5px !important;
}

.ui-widget-content {
    border: 1px solid transparent;
}

ul.hclass:hover {
    background-color:rgba(77,144,254,0.15);
}

.annotation{
    background-color: #f1f1f1;
    border: none;
    text-align: left;
    height:41px !important;
    padding:10px;
    color: #808080;
    
}

.annotation:hover{
    background-color:#16ECE4;
}

.annotation-text{
    font-family:Arial black;
    word-wrap: break-word;
    width:100%;
    
}

.annotation-container{
    width:100%;
    max-height: 40%;
    border:1px solid thin;
    border-color: red;

}

#save {
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 0px;
    background-color: tomato;
    border: 0;
    font-size: 18px;
    color: #FFFFFF;
    margin-top:20px !important;
    width: 195px;
    height: 41px;
    line-height:41px;
}

#save:hover {
    transition:0.2s ease-in;
    background-color: #0052CC;
    box-shadow: 0 0 10px #9ecaed;
}

.blur {
    outline: none !important;
    border-color: #9ecaed !important;
    box-shadow: 0 0 10px #9ecaed !important;
}